<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>UGCLoad Test Rig</title>
</head>

<body>

    <div class="jumbotron text-center">
        <h1>UgcUpLoad Test Rig</h1>
        <p>This is used to perform load Tests on a kubernetes cluster.</p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <a href=" {{ .MonitorURL }}" target="_blank">Weavescope</a>
            </div>

            <div class="col">
                <a href=" {{ .DashboardURL }}" target="_blank">Grafana Dashboard</a>
            </div>
        </div>
        {{if .ProblemsBinding}}
        <div class="alert alert-primary" role="alert">
            Problems binding form data: {{ .ProblemsBinding}}
        </div>
        {{end}}
        <div class="row">
            <div class="col">&nbsp;
                <div class="card">
                    <div class="card-title">
                        <h3 class="text-center"><strong>Tennant Deletion</strong></h3>
                    </div>
                    <div class="card-body">
                        <fieldset>
                            <form method="post" name="delete" id="deleteTenantFrm" action="/delete-tenant"
                                enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="context">Tennant</label>
                                    <input type="text" class="form-control" name="TenantContext" id="TenantContext"
                                        aria-describedby="tenantHelp" placeholder="Enter Tennant">
                                    <small id="tenantHelp" class="form-text text-muted">This is the tenant in which you
                                        want to
                                        delete</small>
                                </div>
                                {{if .TenantMissing}}
                                <div class="alert alert-primary" role="alert">
                                    You need to enter the tenant details
                                </div>
                                {{end}}
                                {{if .InvalidTenantDelete}}
                                <div class="alert alert-primary" role="alert">
                                    Following can not be deleted: {{ .InvalidTenantDelete }}
                                </div>
                                {{end}}
                                {{if .TennantNotDeleted}}
                                <div class="alert alert-primary" role="alert">
                                    Tenant not deleted : {{ .TennantNotDeleted}}
                                </div>
                                {{end}}
                                {{if .TenantDeleted}}
                                <div class="alert alert-success" role="alert">
                                    Tenant {{ .TennantNotDeleted}} has been deleted
                                </div>
                                {{end}}
                                <button type="submit" id="deleteTenantBtn" class="btn btn-primary">Delete Tenant</button>
                            </form>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-title">
                        <h3 class="text-center"><strong>Test Creation</strong></h3>
                    </div>
                    <div class="card-body">
                        <fieldset>
                            <form method="post" id="startTestFrm" action="/start-test" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="context">Tennant</label>
                                    <input type="text" class="form-control" name="context" id="context"
                                        aria-describedby="tenantHelp" {{if .Context}} value={{ .Context }} {{ end}}
                                        placeholder="Enter Tennant">
                                    <small id="tenantHelp" class="form-text text-muted">This is the tenant in which you
                                        want to run
                                        the tests</small>
                                </div>
                                {{if .MissingTenant}}
                                <div class="alert alert-primary" role="alert">
                                    You need to enter the tenant details
                                </div>
                                {{end}}
                                {{if .InvalidTenantName}}
                                <div class="alert alert-warning" role="alert">
                                    Following can not be used as tenant names: {{ .InvalidTenantName}}
                                </div>
                                {{end}}

                                <div class="form-group">
                                    <label for="numberOfNodes">Number of Nodes</label>
                                    <input {{if .NumberOfNodes}} value={{ .NumberOfNodes }} {{ end}} type="text"
                                        class="form-control" name="numberOfNodes" id="numberOfNodes"
                                        placeholder="Number of Nodes">
                                </div>
                                {{if .MissingNumberOfNodes}}
                                <div class="alert alert-primary" role="alert">
                                    You need to provide the number of nodes
                                </div>
                                {{end}}

                                <div class="form-group">
                                    <label for="bandWidthSelection">Select the bandwidth</label>
                                    <select class="form-control" name="bandWidthSelection" id="bandWidthSelection">
                                        <option value="adsl">ADSL : 8 Mbit/s</option>
                                        <option value="adsl2">ADSL2 : 12 Mbit/s</option>
                                        <option value="adsl2Plus">ADSL2+ : 24 Mbit/s</option>
                                        <option value="ethernetLan">Ethernet LAN ; 10 Mbit/s</option>
                                        <option value="fastEthernet">Fast Ethernet : 100 Mbit/s</option>
                                        <option value="gigabitEthernet">Gigabit Ethernet : 1 Gbit/s</option>
                                        <option value="10gigabitEthernet">10 Gigabit Ethernet : 10 Gbit/s</option>
                                        <option value="100gigabitEthernet">100 Gigabit Ethernet : 100 Gbit/s</option>
                                        <option value="mobileDataEdge">Mobile data EDGE : 384 kbit/s</option>
                                        <option value="mobileDataHspa">Mobile data HSPA : 14,4 Mbp/s</option>
                                        <option value="mobileDatacHspaPlus">Mobile data HSPA+ : 21 Mbp/s</option>
                                        <option value="mobileDataDcHspaPlus">Mobile data DC-HSPA+ : 42 Mbps</option>
                                        <option value="mobileDataLte">Mobile data LTE : 150 Mbp/s</option>
                                        <option value="mobileDataGprs">Mobile data GPRS : 171 kbit/s</option>
                                        <option value="wifi80211a">WIFI 802.11a/g : 54 Mbit/s</option>
                                        <option value="wifi80211n">WIFI 802.11n : 600 Mbit/s</option>
                                    </select>
                                </div>

                                <div class="form-group file-upload-wrapper">
                                    <label for="script-file-upload">Jmeter Script</label>
                                    <input name="jmeter" id="script-file-upload" type="file" class="file-upload" />
                                    <small id="dataHelp" class="form-text text-muted">This is the Jmeter script to
                                        upload</small>
                                </div>
                                {{if .MissingJmeter}}
                                <div class="alert alert-primary" role="alert">
                                    You need to provide the jmeter script to test
                                </div>
                                {{end}}

                                <div class="form-group file-upload-wrapper">
                                    <label for="data-file-upload">Data</label>
                                    <input name="data" id="data-file-upload" type="file" class="file-upload"
                                        aria-describedby="jmeterHelp" />
                                    <small id="jmeterHelp" class="form-text text-muted">This is the data file used by
                                        the test</small>
                                </div>
                                {{if .GenericCreateTestMsg}}
                                <div class="alert alert-primary" role="alert">
                                    Some thing did not go right {{ .GenericCreateTestMsg }}
                                </div>
                                {{end}}

                                <button type="submit" id="startTestBtn" class="btn btn-primary">Run Test</button>

                            </form>
                        </fieldset>
                    </div>
                    {{if .Success}}
                    <div class="alert alert-success" role="alert">
                        <strong>{{ .Success}}</strong>
                    </div>
                    {{end}}
                </div>

                <div>
                    <h1></h1>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-title">
                        <h3 class="text-center"><strong>Test Manipulation</strong></h3>
                    </div>
                    <div class="card-body">
                        <fieldset>
                            <form method="post" id="stopTestFrm" action="/stop-test" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="context">Tennant</label>
                                    <input type="text" class="form-control" name="stopcontext" id="stopcontext"
                                        aria-describedby="tenantHelp" placeholder="Enter Tennant">
                                    <small id="tenantHelp" class="form-text text-muted">This is the tenant in which you
                                        want to stop
                                        the test for </small>
                                </div>
                                <button type="submit" id="stopTestBtn" class="btn btn-primary">Stop Test</button>
                                {{if .StopTenantMissing}}
                                <div class="alert alert-primary" role="alert">
                                    <strong>You must supply the tenant name</strong>
                                </div>
                                {{end}}
                                {{if .InvalidTenantStop}}
                                <div class="alert alert-primary" role="alert">
                                    <strong>These names are not valid: {{ .InvalidTenantStop}}</strong>
                                </div>
                                {{end}}
                                {{if .TennantNotStopped}}
                                <div class="alert alert-primary" role="alert">
                                    <strong>Was not able to stop the test {{ .TennantNotStopped}}</strong>
                                </div>
                                {{end}}
                                {{if .TenantStopped}}
                                <div class="alert alert-success" role="alert">
                                    <strong>Test were stopped for: {{ .TenantStopped}}</strong>
                                </div>
                                {{end}}
                            </form>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {

            $("#deleteTenantFrm").on('submit', function () {
                $("#deleteTenantBtn").prop("disabled", true)
                $("#deleteTenantBtn").html(
                    `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Deleting...`
                );
                $("#startTestBtn").prop("disabled", true)
                $("#stopTestBtn").prop("disabled", true)
            });

            $("#startTestFrm").on('submit', function () {
                $("#startTestBtn").prop("disabled", true)
                $("#startTestBtn").html(
                    `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Starting Test...`
                );
                $("#deleteTenantBtn").prop("disabled", true)
                $("#stopTestBtn").prop("disabled", true)
            });

            $("#stopTestFrm").on('submit', function () {
                $("#stopTestBtn").prop("disabled", true)
                $("#stopTestBtn").html(
                    `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Stopping Test...`
                );
                $("#startTestBtn").prop("disabled", true)
                $("#deleteTenantBtn").prop("disabled", true)
            });
        });
    </script>
</body>

</html>