# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*


# Ignore DevSpace cache and log folder
.devspace/
/docker/control/test-scripts/
/docker/control/test/
/docker/control/tenant/
/docker/control/config/
/docker/control/data/
/docker/control/admin/
/docker/master/src/
/docker/master/jmeter-master/
/docker/slave/fileupload/
setup-aws-env.sh
kubernetes-util/setup-aws-env.sh
